div{
    text-align: center;
}

input{
    height: 12%;
    width: 50%;
    margin-bottom: 5%;
}

.main-container{
    display: grid;
    grid-auto-flow: row;
    gap: 1em;
}

#end-point{
    height: 100%;
    width: 50%;
    background-color: #20211F;
    margin: auto;
}

#end-point > * {
    color: #85C566;
}

b{
    font-size: xx-large;
}