:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

h1{
  text-align: center;
  color: white;
}

div > * {
  color: white;
}

#navbar{
  display: grid;
  grid-auto-flow: column;
  width: 30%;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  font-size: 15px;
}

#for-fun{
  text-align: left;
}

#streak{
  text-align: right;
}



body {
  background-color: black;
}

button{
  background-color: black;
  color: aliceblue;
}

#btn-1{
  text-align: left;
}

#btn-2{
  text-align: right;
}